﻿@model IDEIBiblio.Models.Author

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "updateDropdown" })) {
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <p>
        <input type="submit" id="submit" value="Create" />
    </p>
}
