﻿@model IDEIBiblio.Models.Book
@using IDEIBiblio.Helpers

@{
    ViewBag.Title = "Delete";
}

<h2>Delete?</h2>

<h3>Are you sure?</h3>
<fieldset>
    <legend>Book</legend>
    @Html.DisplayForProduct(Model)
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
