﻿@using IDEIBiblio.Helpers
@model IEnumerable<IDEIBiblio.Models.Book>



<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<p>
    @Html.AuthorizedActionLink("Create New", "Create")
</p>

<div class="book-grid">
    @foreach (var item in Model) {
        @Html.DisplayForProduct(item);
    }
</div>
