﻿
   <input type="file" name="Upload" id="Upload" />
   <div id="uploading" style="height: 10px; width: 0%; background-color: lightblue"></div>

<!-- Solução para o envio de imagens em form ajax obtida pela consulta da fonte:
    http://stackoverflow.com/a/20351785/856202
    .
    O método Ajax.BeginForm não permite o envio de ficheiros.
    -->
<script type="text/javascript">
$('#Upload').change(function () {
    var file = document.getElementById('Upload').files[0];
    var fileName = file.name;
    var fd = new FormData();
    fd.append("file", file);

    var xhr = new XMLHttpRequest();
    xhr.upload.addEventListener("progress", function (evt) { UploadProgress(evt); }, false);
    xhr.addEventListener("load", function (evt) { UploadComplete(evt); }, false);
    xhr.addEventListener("error", function (evt) { UploadFailed(evt); }, false);
    xhr.addEventListener("abort", function (evt) { UploadCanceled(evt); }, false);
    xhr.open("POST", "/Helper/UploadPicture", true);
    xhr.send(fd);
});


function UploadProgress(evt) {
    if (evt.lengthComputable) {
        var percentComplete = Math.round(evt.loaded * 100 / evt.total);
        $("#uploading").width(percentComplete + "%");
        $("#uploading").css("background-color", "lightblue");
    }
}

function UploadComplete(evt) {    
    if (evt.target.status == 200) {
        $("#uploading").css("background-color", "green");
        updatePicture(JSON.parse(evt.target.response));
    }
    else {
        $("#uploading").css("background-color", "red");
    }
}

function UploadFailed(evt) {
    $("#uploading").css("background-color", "red").width('50%');
}

function UploadCanceled(evt) {
    $("#uploading").css("background-color", "red").width('15%');
}
</script>