/*
ARQSI:
Bruno Flávio - 1040865 || Luís Teixeira - 1050510
*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
	content: "\42";
}
.icon-books:before {
	content: "\62";
}
.icon-star:before {
	content: "\31";
}
.icon-bookmark:before {
	content: "\6d";
}
.icon-star2:before {
	content: "\32";
}
.icon-star3:before {
	content: "\33";
}
.icon-spinner:before {
	content: "\6c";
}
.icon-plus:before {
	content: "\2b";
}
.icon-arrow-left:before {
	content: "\3c";
}
.icon-arrow-left2:before {
	content: "\2f";
}
.icon-arrow-left3:before {
	content: "\5c";
}
.icon-reply:before {
	content: "\7b";
}
