/*
ARQSI:
Bruno Flávio - 1040865 || Luís Teixeira - 1050510
*/
body{
    font-family: Verdana;
    background-color: #eee;
}

.wrap{
    position: relative;
    margin: 0 auto;
    width: 1200px;
}

.content{
    width: 800px;
    overflow-x: hidden;
}