/*
ARQSI:
Bruno Flávio - 1040865 || Luís Teixeira - 1050510
*/
#wrapper{
    display: inline;
}

#books-widget{
    width: 300px;
    height: 500px;
    background-color: #fff;
    //para esconder o detalhe do livro fora do div
    //enquando executa o efeito deslizante
    overflow: hidden;
    display: table;
}

#search{
    height: 30px;
    width: calc(100% - 6px);
    display: table;
    word-break: break-all;
    /* float: left; */
}

#search_method {
    width: 85%;
    display: table-cell;
    vertical-align: middle;
}

#search_menu {
    cursor: pointer;
    width: 25%;
    display: table-cell;
    vertical-align: middle;   
}

#filter_searchby{
    height: 2em;
    width: calc(100% - 6px);
    display: table;
    word-break: break-all;
    font-family: Verdana;
    font-size: smaller;
}

#filter_limit {
    height: 5em;
    width: calc(100% - 6px);
    display: table;
    word-break: break-all;
    font-family: Verdana;
    font-size: smaller;
}

#rdfAwrapper{
    position: absolute;
    z-index: 1;
    float: left;
    bottom: 0;
    cursor: pointer;
    margin-left: 6px;
}

.middle{
    display: table-cell;
    vertical-align: middle;
}

#details{
    overflow-y: auto;
    height: 95%;
    background-color: #fff;
    z-index: 2;
}

#image-div{
    width: 100%;
}

#book-image{
    width: 90px;
    height: 140px;
    border-style: solid;
    border-width: 1px;
    border-color: graytext;
}

#select_group  {
    display: inline-block;
}

.details-wrapper{
    width: 300px;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    display: table-row;
}

.inset {
    margin-top: 2px;
    padding:2px 2px;    
    text-align: center;
    position: relative;
    
    vertical-align: middle;
    
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    border-color: graytext;
   -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

#catselector {
    background-color: transparent;

    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    border-color: graytext;
}

#results{
    height: 100%;
    overflow: auto;
}

.title{
    font-family: Verdana;
    font-weight: bold;
    width: 100%;
}

.author{
    font-family: Verdana;
    font-size: smaller;
    font-weight: lighter;
    width: 100%;
}

.publisher{
    font-family: Verdana;
    font-size: smaller;
    font-weight: lighter;
    width: 100%;
}

.description{
    font-family: Verdana;
    font-style: italic;
    padding: 10px;
    font-size: x-small;
}

.year{
    font-family: Verdana;
    font-size: xx-small;
}

.book{
    width: 100%;
    border-bottom: 1px graytext dotted;
}

.center{
    text-align: center;
}

.book-links{
    font-family: Verdana;
    font-size: small;
    color: black;
    text-decoration: none;
}

.book:hover{
    cursor: pointer;
    background-color: buttonface;
}

.back-button{
    font-family: Verdana;
    padding-top: 20px;
}

.back-button:hover{
    cursor: pointer;
}

.font-red {
    color: crimson;
}

.font-gray {
    color: gray;
}

.toggle {		    
    padding:2px 2px;
    text-align: center;
    
    cursor: pointer;
    
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: graytext;
   -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

.toggle.selected {
    border-color:crimson;
    background-color: #FFA8A8;
}

.toggle.disabled {
    border-color:white;
    background-color: white;
    cursor: default;
}

.rotate45{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
}
