﻿@using IDEIBiblio.Helpers;
@{
    ViewBag.Title = "Console";
}

<h2>Administration Console</h2>

<section>
    <h3>User Roles</h3>
    @using(Html.BeginForm("userroles","admin")){
        @Html.AntiForgeryToken()
        @Html.UsersAndRolesTable((ICollection<IDEIBiblio.Models.UserProfile>)ViewBag.Users, (ICollection<IDEIBiblio.Models.Role>)ViewBag.Roles)
        <p>
            <input type='submit' value='Save'/>
        </p>
    }
</section>

<section>
    <h3>Roles Permissions</h3>
    @using (Html.BeginForm("rolesactivities", "admin"))
    {
        @Html.AntiForgeryToken()
        @Html.ActivityAuthorizationTable((ICollection<IDEIBiblio.Models.Role>)ViewBag.Roles, (ICollection<IDEIBiblio.Models.Activity>)ViewBag.Activities)
        <p>
            <input type='submit' value='Save'/>
        </p>
    }
</section>