﻿@using IDEIBiblio.Helpers 
@model IDEIBiblio.Models.ShoppingCart
@{
    ViewBag.Title = "Proceed to Checkout";
}

<h2>Proceed to Checkout</h2>

<script type="text/javascript">
    function update(data) {
        var NumberOfProducts = parseInt(data.CartCount);
        var Text = (NumberOfProducts > 0) ? NumberOfProducts + " items" : "Empty Cart";

        $("#id_do_carrinho a").text(Text);
        $("#line_" + data.RemovedId).remove();
        $("#total").text(data.CartTotal);
    }
</script>

@if (@Model.ShoppingCartLines.Count > 0){
<table>
    @foreach(IDEIBiblio.Models.ShoppingCartLine Line in Model.ShoppingCartLines){
        var LineId = Line.ShoppingCartLineID;
        var TrId = "line_" + Line.ShoppingCartLineID;
        <tr id="@TrId">
            <td>@Html.DisplayForProduct(Line.Product)</td>
            <td>x @Line.Quantity</td>
            <td>@Line.PriceTotal()</td>
            <td>@Ajax.ActionLink("Remove", "Remove", new { id = Line.ShoppingCartLineID }, new AjaxOptions { 
                                                                                            //UpdateTargetId = "id_do_carrinho",
                                                                                            //InsertionMode = InsertionMode.Replace,
                                                                                            HttpMethod = "Post",
                                                                                            OnSuccess = "update"
                                                                                            })</td>
        </tr>
    }
    <tr>
        <td></td>
        <td>Total</td>
        <td id="total">@Model.PriceTotal()</td>
    </tr>
</table>

<div>
    @Html.ActionLink("Place Order","confirmorder")
</div>
}else{
    <h3>Empty Cart</h3>   
}