﻿@{
    ViewBag.Title = "UnAuthorized";
}

<h2>You don't have enough permissions to execute this action!</h2>

@if (ViewBag.Auth)
{
   <h4>@Html.ActionLink("Home Page", "Index", "Home");</h4> 
}
else
{
    <h4>@Html.ActionLink("Home Page", "Index")</h4>
    <h4>@Html.ActionLink("Register", "register", new { ReturnUrl = ViewBag.ReturnUrl })</h4>
    <h4>@Html.ActionLink("Login", "login")</h4>
}
