﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Sales:</span>
        <span><a href="mailto:Sales@ideibiblio.com">sales@ideibiblio.com</a></span>
    </p>
    <p>
        <span class="label">Webmaster:</span>
        <span><a href="mailto:webmaster@ideibiblio.com">webmaster@ideibiblio.com</a></span>
    </p>
    <p>
        <span class="label">General contact:</span>
        <span><a href="mailto:General@ideibiblio.com">general@ideibiblio.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Rua Dr. António Bernardino de Almeida, 431 <br />
        4200-072 Porto <br />
        Portugal
    </p>
</section>

<section class="contact">
    <header>
        <h3>Our location!</h3>
    </header>
    <div class="fluid-wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12011.51598457644!2d-8.612069024045846!3d41.18080636267975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246449b419e1c1%3A0x16a6fd2fcace4efe!2sInstituto+superior+de+engenharia+do+porto!5e0!3m2!1sen!2spt!4v1386190921733" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</section>

