﻿@using IDEIBiblio.Helpers
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
                <p>Welcome to the <b>IDEIBiblio</b> book shop - Your one stop location for all sorts of publications!</p>
                
            </hgroup>  
        </div>
    </section>
}

<div class="homeview-group">
    <div class="homeview-widget">
        <iframe src="http://uvm095.dei.isep.ipp.pt/iframe.html" height="520" width="310" style="border: none; outline: none; overflow: hidden;"></iframe>
    </div>
    <div class="homeview-cell">
        <h3>Hot publications:</h3>
        <ul class="round">
            <li>
                <h5>Books</h5>
                @Html.Action("Featured", "Book")                      
            </li>

            <li>
                <h5>Magazines</h5>
                @Html.Action("Featured", "Magazine")
            </li>

            <li>
                <h5>Categories</h5>
        
            </li>
        </ul>
    </div>

</div>