﻿@model IDEIBiblio.Models.ShoppingCart

@{
    ViewBag.Title = "Confirm Order";
    var Order = ViewBag.Order;
}

<h2>Confirm Order</h2>

<h4>Cart:</h4>
    @if (Model.ShoppingCartLines.Count == 0)
    {
        <h5>Empty Cart!<br/>
        Please choose some products.
        </h5>
    }else{
        <table>
        @foreach (IDEIBiblio.Models.ShoppingCartLine Line in Model.ShoppingCartLines)
        {
                <tr>
                    <td>@Line.Product.Name</td>
                    <td>x @Line.Quantity</td>
                    <td>@Line.PriceTotal()</td>
                </tr>
        }
            <tr>
                <td></td>
                <td>Total</td>
                <td>@Model.PriceTotal()</td>
            </tr>
        </table>
        
        @Html.ActionLink("Return", "edit", "shoppingcart", new { id = Model.ShoppingCartID},null)
        @Html.ActionLink("Continue", "Shipping");
    }

