﻿@model IDEIBiblio.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Creation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creation)
    </div>
    <table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderLines.First().Book.Isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderLines.First().Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderLines.First().LineQuantity)
        </th> 
             
    </tr>

    @foreach (var item in Model.OrderLines) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineQuantity)
        </td>
        
        
    </tr>
    }

    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
