﻿@model IDEIBiblio.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

        @Html.HiddenFor(model => model.OrderID)
        <div class="editor-label">
            @Html.LabelFor(model => model.Creation)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Creation)
        </div>
         <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines.First().Book.Isbn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines.First().Book.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines.First().LineQuantity)
                </th> 
                <td></td>       
            </tr>

            @foreach (var item in Model.OrderLines) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineQuantity)
                </td>
        
                <td>
                    @Html.ActionLink("Delete", "DeleteLine", new { id=item.OrderLineID })
                </td>
            </tr>
            }

            </table>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
