﻿@model IDEIBiblio.Models.LogisticsCompany

@{
    ViewBag.Title = "Shipping";
}
<h2>Delivery</h2>
@using (Html.BeginForm("confirmorder","order"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <label>Company</label>
    @Html.DropDownListFor(model => model.LogisticsCompanyID, ViewBag.CompaniesList as IEnumerable<SelectListItem>)
    
    <br />
    <br />
    
    <label>Address</label>
    <br />
    <textarea id="Address" name="Address"></textarea>

    <p>
        <input type="submit" value="Order" />
    </p>
 }