<!--
ARQSI:
Bruno Flávio - 1040865 || Luís Teixeira - 1050510
-->
<link rel="stylesheet" type="text/css" href="css/widget.css" />
<link rel="stylesheet" type="text/css" href="css/glyphs.css" />
<div id="books-widget">    
    <!-- Seletor de pesquisa -->
    <div id="search" class="inset">
        <div id="search_method">
            <div id="title_group">
                Título:
                <input id="title_input" class="inset" type="text" size="20" title="Indicar o título da obra a pesquisar."/>
            </div>
        </div>
        <div id="search_menu" class=" icon-plus"></div>
    </div>
    
    <!-- Filtro: procurar por: -->
    <div id="filter_searchby" class=" inset">
        <span class="middle">
           Pesquisa por 
           <span id="name_toggle" class=" toggle">Nome</span>
           | 
           <span id="cat_toggle" class=" toggle selected">Categoria</span>
        </span>
    </div>
    
    <!-- Filtro: limitar: -->
    <div id="filter_limit"    class=" inset">
        <div class="middle">
            <!-- numero de resultados: -->
            <div style="height: 2em;">
                Limitar resultados: 
                <span id="yes_toggle" class=" toggle">Sim</span>
                |
                <span id="no_toggle" class=" toggle selected">Não</span>
            </div>
            <!-- no total / por editora: -->
            <div style="height: 2em;">
                <input type="text" id="num_input" class=" inset" maxlength="2" size="2" disabled=""
                       onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"/>
                resultados
                <span id="total_toggle" class=" toggle disabled">no total</span>
                | 
                <span id="publisher_toggle" class=" toggle disabled">por editora</span>.
            </div>
        </div>
    </div>
    <div id="rdfAwrapper">
        <a id="rdfAlink" href="javaScript:void(0);" title="Web Semântica: Visualizar versão estática desta lista" target="_blank">
            <img src="../img/rdf.gif"/>
        </a>
    </div>
</div>
