﻿@using IDEIBiblio.Helpers
@model IDEIBiblio.Models.Magazine


@{
    ViewBag.Title = Model.Name;
    ViewBag.Message = '#'+ Model.EditionNumber;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<fieldset>
    <legend>Book</legend>
    <div class="productview-group">
        <div class="productview-image">
            <img alt="Product cover" class="image" src="@Model.ImageURL" />
        </div>

        <div class="productview-cell">
            <div class="productview-item">
                <div class="productview-label">
                     @Html.DisplayNameFor(model => model.EditionNumber)
                </div>
                <div class="productview-field">
                    @Html.DisplayFor(model => model.EditionNumber)
                </div>
            </div>
    
            <div class="productview-item">
                <div class="productview-label">
                     @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="productview-field">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>

             <div class="productview-item">
                <div class="productview-label">
                     @Html.DisplayNameFor(model => model.PublishingDate)
                </div>
                <div class="productview-field">
                    @Html.DisplayFor(model => model.PublishingDate)
                </div>
            </div>

            <div class="productview-item">    
                <div class="productview-label">
                     @Html.DisplayNameFor(model => model.CurrentPrice)
                </div>
                <div class="productview-field">
                    @Html.DisplayFor(model => model.CurrentPrice)
                </div>
                <div class="productview-label">
                     @Html.DisplayNameFor(model => model.DiscountPercentage)
                </div>
                <div class="productview-field">
                    @ViewBag.Discount %
                </div>
            </div>

           
    
            
        </div>
    </div>
</fieldset>
<p>
    @Html.AuthorizedActionLink("Edit", "Edit", new { id=Model.ProductID })|
    @Html.AuthorizedActionLink("Delete", "Delete", new { id=Model.ProductID })|
    @Html.ActionLink("Back to List", "Index")
</p>
