﻿@model IDEIBiblio.Models.Magazine

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jqueryui")

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Book</legend>
        @Html.HiddenFor(model => model.ProductID)

        
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.EditionNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EditionNumber)
            @Html.ValidationMessageFor(model => model.EditionNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageURL)
        </div>
        <div class="editor-label">
            <img id="Image" src="@Model.ImageURL" />            
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageURL)
            @Html.ValidationMessageFor(model => model.ImageURL)
            <a class="modalCreate" href="@Url.Action("UploadPicture", "Helper")" onclick="return false;">Upload a new photo</a>
        </div>        
        
        <div class="editor-label">
            @Html.LabelFor(model => model.PublishingDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublishingDate)
            @Html.ValidationMessageFor(model => model.PublishingDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, 5, 1, null)
            @Html.ValidationMessageFor(model => model.Description)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrentPrice)
            @Html.ValidationMessageFor(model => model.CurrentPrice)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<script type="text/javascript">

    function updatePicture(data) {
        var element = "ImageURL";
        var image = "Image";
        var url = data.url;


        $('#' + image).attr('src', url);
        $('#' + element).val(url);
        $('#popup').dialog('close');
    }

    $(document).ready(function () {
        $(".modalCreate").click(function (event) {
            event.stopPropagation();
            var title = $(this).text() + ':';
            var link = $(this).attr('href');
            $.get(link, {}, function (resp) {
                $('#popup').html(resp);
            });
            $("#popup").dialog({
                width: 400,
                height: 200,
                title: title,
                modal: true,

            });
        });
    });
</script>
<div id="popup"></div>
    

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
