﻿.product{
  width:200px;
  height:200px;
  float:left;
  margin:5px;
  border : 1px dotted;
  text-align: center;
  padding: 2px;
  cursor: pointer;
}

.product:hover {
  border-style:solid;
}

.book {
    border-color: #ff6a00;    
}

.magazine {
    border-color: #00ff6a;    
}

.product .header {
    height: 100px;
}

.product .image {
    height: 100%;
}

.book-grid {
    width: 100%;
    overflow: hidden;
}


/* DEFINIÇÃO DOS TIPOS NECESSÁRIOS PARA A VISUALIZAÇÃO DE UM PRODUTO */
.productview-label {
    float: left;
    clear: left;
    font-size: 1.5em;  
    color: darkgray;
}

.productview-field {
    float: left;   
    clear: left;
    margin-top: -0.4em;
    margin-left: 1em;
    font-size: 1.5em;
    color: #3d3d3d;
}
.productview-group {
    overflow: hidden;
}

.productview-cell {
    display: table-cell;
}

.productview-image {
    float:left;
    margin-top: 1em;
    margin-right: 1em;
}

.productview-item {
    float:left;
    clear:left;
    margin-top: 1em;
}


/* DEFINIÇÃO DOS TIPOS NECESSÁRIOS PARA A PAGINA DE ENTRADA */
.homeview-group {
    overflow: hidden;
}

.homeview-cell {
    display: table-cell;
}

.homeview-widget {
    float:left;
}


